.search-header {
  background: $color-grey-light;

  &__title {
    display: inline-block;
    margin: 2.5rem 0 1.2rem;
    color: $color-primary;
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.8rem;
    border: 1px solid darken($color-grey-light, 2);
    border-radius: 3px;
  }

  &__input {
    flex: 1;
    padding: 1.1rem 1.5rem;
    font-size: 1.7rem;
    color: inherit;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 0;
  }

  &__submit-btn {
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    background: $color-primary;
    color: white;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: 0;
    cursor: pointer;
    transition: background 0.2s;

    &:hover,
    &:focus {
      background: lighten($color-primary, 12);
    }
  }

  &__tab {
    display: inline-block;
    margin-right: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    color: $color-grey-dark;
    text-decoration: none;

    &:hover {
      color: black;
    }

    &--active {
      font-weight: 600;
      border-bottom: 3px solid $color-secondary;
    }
  }
}

.results {
  &__count {
    color: $color-grey-medium;
    margin: 2rem 0;
  }

  &__item {
    margin-bottom: 2.4rem;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
  }

  &__link:hover &__title {
    text-decoration: underline;
  }

  &__url {
    display: block;
    margin-bottom: 0.6rem;
    font-style: normal;
    color: $color-grey-medium;
    word-break: break-all;
  }
}
